body{
    background-color: #866621;
}

header {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin: 0;
    font-family: sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.liStyle{
    margin-right: 10px;
    margin-left: 30px;
    font-size: 21px;
  }
  
.liStyle a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
  }
  
.liStyle a:hover {
    text-decoration: underline;
  }

.seccionSobreMi{
    color: #fff;
    padding: 20px;
    display: flex;
    margin-top: 0;
    margin-right: 70%;
}

.imgDiv{
    width: 100%;
    height: 100%;
    margin-right: 50%;
    margin-top: 11%;
    margin-left: 5%;
}

.imgDiv img{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.imgDiv h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.imgDiv h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 23px;
  font-style: italic;
}

.sobreMi{
    width:  1100px;
    height: 100%;
    margin-right: 1000px;
    margin-top: 10%;
    border-radius: 100px;
    background-color: #ffffffdb;
    padding: 20px;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.4);
}

.sobreMi h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 500;
    color: #866621;
    margin-left: 30px;
    text-decoration: underline;
}

.sobreMi p{
    font-size: 27px;
    font-family: sans-serif;
    width: 1000px;
    text-align: justify;
    color: #866621;
    padding: 30px;
}
.cursos div{
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.4);
    margin: 20px;
}
.h1Subtitulo{
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 30px;
}
.h1DivCursos{
  color: #866621;
  font-family: sans-serif;
  margin-left: 20px;
}
.cursos p{
  color: #866621;
  font-family: sans-serif;
  margin-left: 20px;
  font-size: 20px;
}
.contacto{
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.4);
  margin: 20px;
}
.contacto h1{
  color: #866621;
  font-family: sans-serif;
  margin-left: 20px;
  font-size: 20px;
}